<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application android:networkSecurityConfig="@xml/network_security_config">

        <!--suppress AndroidDomInspection -->
        <activity android:name=".TestActivity" />

    </application>
</manifest>
