<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braintreepayments.demo" >

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DemoAppTheme"
        android:allowBackup="true">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" android:label="Options" />
        <activity android:name=".PaymentButtonActivity" android:label="Buy" />
        <activity android:name=".CustomFormActivity" android:label="Buy" />
        <activity android:name=".FinishedActivity" android:label="Purchase Complete" />
    </application>
</manifest>
