<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.braintreepayments.api.dropin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.braintreepayments.api.dropin.BraintreePaymentActivity" />

        <activity android:name="com.braintreepayments.api.threedsecure.ThreeDSecureWebViewActivity" />
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity" />
        <activity android:name="com.paypal.android.sdk.onetouch.core.PayPalOneTouchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
