<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.braintreepayments.cardform">
    <application android:theme="@android:style/Theme.Holo.Light">
        <!--suppress AndroidDomInspection -->
        <activity android:name=".test.TestActivity" />
    </application>
</manifest>
