<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braintree.api.testutils">

    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application />

</manifest>
