<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.braintreepayments.demo">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DemoAppTheme"
        android:name=".DemoApplication"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
        <activity android:name=".test.DemoTestActivity"/>

    </application>
</manifest>
