<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ThreeDSecureActivity"
            android:theme="@style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>
</manifest>