<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.braintreepayments.api">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name="com.braintreepayments.api.threedsecure.ThreeDSecureWebViewActivity" />
    </application>
</manifest>
