<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.braintreepayments.api">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <package android:name="com.venmo" />
        <package android:name="com.android.chrome" />
        <package android:name="com.paypal.android.p2pmobile" />
    </queries>

    <application>
        <activity android:name="com.braintreepayments.api.AndroidPayActivity"
            android:theme="@style/bt_transparent_activity"
            android:exported="true"
            />

        <activity android:name="com.braintreepayments.api.GooglePaymentActivity"
            android:theme="@style/bt_transparent_activity"
            android:exported="true"
            />

        <activity android:name="com.braintreepayments.api.threedsecure.ThreeDSecureWebViewActivity"
            android:exported="true"
            />

        <service android:name="com.braintreepayments.api.internal.AnalyticsIntentService"/>
    </application>
</manifest>
