<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.braintreepayments.api">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name="com.braintreepayments.api.AndroidPayActivity"
            android:theme="@style/bt_transparent_activity"/>
        <activity android:name="com.braintreepayments.api.threedsecure.ThreeDSecureWebViewActivity"/>
        <service android:name="com.braintreepayments.api.internal.AnalyticsIntentService"/>
    </application>
</manifest>
