<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braintreepayments.fake.wallet">

    <application android:allowBackup="false"
        android:label="Fake Wallet"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:label="Fake Wallet" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AppSwitchActivity"
            android:label="Fake Wallet App Switch"
            android:exported="true" />

    </application>
</manifest>
