<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.braintreepayments.api">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk tools:overrideLibrary="com.cardinalcommerce.cardinalmobilesdk"/>

    <queries>
        <package android:name="com.venmo" />
        <package android:name="com.paypal.android.p2pmobile" />
    </queries>

    <application>

        <activity
            android:name=".BraintreeDeepLinkActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="${applicationId}.braintree.deeplinkhandler" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>
</manifest>
